body{
  background: #000000;
}

#bnews-sig{
  --black: #111111;
  --white: #ffffff;
  --c1: #999999;
  --c2: #BFEB24;
  --c3: #7BADDA;
  --c4: #FE4D27;
  position: absolute;
  overflow: hidden;
  margin: 0px auto;
  width: 400px;
  height: 200px;
  background: transparent;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%)
}

#bnews-sig .bg{
  position: absolute;
  width: 400px;
  height: 200px;
  top: 0px;
  left: 0px;
  background: var(--c1);
  clip-path: 
    polygon(0 0, 100% 0, 100% 85%, 93% 100%, 0 100%, 0% 50%);
}

#bnews-sig .bg:before{
  content: "";
  position: absolute;
  width: 380px;
  height: 180px;
  top: 9px;
  left: 9px;
  background: transparent;
  clip-path: 
    polygon(0 0, 100% 0, 100% 85%, 93% 100%, 0 100%, 0% 50%);
  border: 1px solid var(--c2);
  border-right: 1.5px solid var(--c2);
}

#bnews-sig .bg::after{
  content: "";
  position: absolute;
  width: 37px;
  height: 1px;
  bottom: 21px;
  right: 3px;
  border-top: 1px solid var(--c2);
  transform: rotate(-46deg);
}

#bnews-sig .box{
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 150px;
  top: 10px;
  left: 10px;
  background-position: top;
  background-size: 350px;
  border-right: 1px solid var(--c2);
  border-bottom: 1px solid var(--c2);
}

#bnews-sig .box::before{
  content: "";
  position: absolute;
  overflow: hidden;
  width: 320px;
  height: 155px;
  top: -5px;
  left: 0px;
  background: url(https://i.imgur.com/CNhi5tb.gif);
  background-position: top;
  background-size: 350px;
  border-right: 1px solid var(--c2);
  border-bottom: 1px solid var(--c2);
  -webkit-filter: grayscale(100%) brightness(50%); 
  filter: grayscale(100%), brightness(50%);
}

#bnews-sig .side{
  position: absolute;
  width: 15px;
  height: 100px;
  top: 37px;
  right: 9px;
  background: transparent;
  border: 1px solid var(--c2);
  border-right: 10px solid var(--c2);
}

#bnews-sig .title{
  position: absolute;
  left: -5px;
  bottom: -10px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size:76px;
  line-height: 67px;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--c2);
  color: transparent;
}

#bnews-sig .me{
  position: absolute;
  width: 400px;
  right: 68px;
  bottom: 18px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.01em;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
}

#bnews-sig .me a{
  text-decoration: none;
  color: #000000;
}

#bnews-sig .me c{
  color: var(--c2);
  font-weight: 700;
  margin: 5px;
}

#bnews-sig .me::before{
  content: "";
  position: absolute;
  width: 95px;
  height: 8px;
  left: 89px;
  bottom: 1px;
  background: var(--white);
  border: 1px solid var(--c2);
}

#bnews-sig .me::after{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 191px;
  bottom: 1px;
  background: var(--c2);
  border: 1px solid var(--c2);
}

#bnews-sig .content{
  position: absolute;
  width: 280px;
  height: 110px;
  top: 19px;
  left: -120px;
  background: var(--black);
  border: 1px solid var(--c2);
  transform: skewx(20deg);
  opacity: 0;
  transition: 0.45s;
}

#bnews-sig:hover .content{
  left: 19px;
  transform: skewx(0deg);
  transition: 0.45s;
  opacity: 0.95;
}

#bnews-sig .textbox{
  position: absolute;
  overflow: auto;
  width: 240px;
  top: 15px;
  left: 19px;
  opacity: 0.95;
  text-align: justify;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
}

#bnews-sig .textbox a{
  text-decoration: none;
  color: var(--white);
}
#bnews-sig .textbox a:hover{
  text-decoration: line-through;
  color: var(--c4);
}

#bnews-sig .textbox t1{
  color: var(--c2);
}

#bnews-sig .textbox t2{
  font-style: italic;
  color: var(--c3);
}